.body1{
    background-color:rgba(137, 43, 226, 0.214);
}
.card3{
    background-image: linear-gradient(to right, rgb(0, 219, 212),rgb(0, 192, 186));
}
.card2{
    background-image: linear-gradient(to right, rgb(0, 146, 244),rgb(3, 134, 222));
}
.card1{
    background-image: linear-gradient(to right, rgb(255, 125, 102),rgb(255, 38, 0));
}